# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [19]:
import pandas as pd

## imports for Python, Pandas

In [20]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor shortname    state
0        Dade       12345    Rick Scott        FL  Florida
1     Broward       40000    Rick Scott        FL  Florida
2  Palm Beach       60000    Rick Scott        FL  Florida
3      Summit        1234   John Kasich        OH     Ohio
4    Cuyahoga        1337   John Kasich        OH     Ohio

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [4]:
# load json as string (switched to full data)
data = json.load((open('data/world_bank_projects.json')))

In [6]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
json_string = json.load((open('data/world_bank_projects_less.json')))

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [5]:
json_df = pd.read_json('data/world_bank_projects.json')
#json_df

In [6]:
byc = json_df.groupby('countryname').count()

In [7]:
byc.sort_values(by='_id',ascending=False).head(10).index
#This is list the 10 countries with the most projects, assuming that each row is 1 project

Index(['People's Republic of China', 'Republic of Indonesia',
       'Socialist Republic of Vietnam', 'Republic of India',
       'Republic of Yemen', 'People's Republic of Bangladesh', 'Nepal',
       'Kingdom of Morocco', 'Republic of Mozambique', 'Africa'],
      dtype='object', name='countryname')

In [8]:
json_df.columns

Index(['_id', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract', 'project_name', 'projectdocs',
       'projectfinancialtype', 'projectstatusdisplay', 'regionname', 'sector',
       'sector1', 'sector2', 'sector3', 'sector4', 'sector_namecode',
       'sectorcode', 'source', 'status', 'supplementprojectflg', 'theme1',
       'theme_namecode', 'themecode', 'totalamt', 'totalcommamt', 'url'],
      dtype='object')

In [9]:
json_df.shape

(500, 50)

In [21]:
test = json_normalize(data, 'mjtheme_namecode',[['_id','$oid']])
test.shape

(1499, 3)

In [22]:
test.head(20)
# notice index 1, 13, 17 and 19 are missing names

,code,name,_id.$oid
0,8,Human development,52b213b38594d8a2be17c780
1,11,,52b213b38594d8a2be17c780
2,1,Economic management,52b213b38594d8a2be17c781
3,6,Social protection and risk management,52b213b38594d8a2be17c781
4,5,Trade and integration,52b213b38594d8a2be17c782
5,2,Public sector governance,52b213b38594d8a2be17c782
6,11,Environment and natural resources management,52b213b38594d8a2be17c782
7,6,Social protection and risk management,52b213b38594d8a2be17c782
8,7,Social dev/gender/inclusion,52b213b38594d8a2be17c783
9,7,Social dev/gender/inclusion,52b213b38594d8a2be17c783
10,5,Trade and integration,52b213b38594d8a2be17c784
11,4,Financial and private sector development,52b213b38594d8a2be17c784
12,6,Social protection and risk management,52b213b38594d8a2be17c785
13,6,,52b213b38594d8a2be17c785
14,2,Public sector governance,52b213b38594d8a2be17c786
15,4,Financial and private sector development,52b213b38594d8a2be17c786
16,11,Environment and natural resources management,52b213b38594d8a2be17c787
17,8,,52b213b38594d8a2be17c787
18,10,Rural development,52b213b38594d8a2be17c788
19,7,,52b213b38594d8a2be17c788

In [23]:
# Here I'm filling in the names for the missing codes. I'm sure there's a quicker way, but this works.
test.name[test.code=='1'] = test.name[test.code=='1'].iloc[0]
test.name[test.code=='2'] = test.name[test.code=='2'].iloc[0]
test.name[test.code=='3'] = test.name[test.code=='3'].iloc[0]
test.name[test.code=='4'] = test.name[test.code=='4'].iloc[0]
test.name[test.code=='5'] = test.name[test.code=='5'].iloc[0]
test.name[test.code=='6'] = test.name[test.code=='6'].iloc[0]
test.name[test.code=='7'] = test.name[test.code=='7'].iloc[0]
test.name[test.code=='8'] = test.name[test.code=='8'].iloc[0]
test.name[test.code=='9'] = test.name[test.code=='9'].iloc[0]
test.name[test.code=='10'] = test.name[test.code=='10'].iloc[0]
#Using 1 below because first one is missing
test.name[test.code=='11'] = test.name[test.code=='11'].iloc[1]

In [24]:
test.head(20)
#Now all have names, but notice that indices #8 & 9 are the same project with the same theme code
#same for 12 & 13

,code,name,_id.$oid
0,8,Human development,52b213b38594d8a2be17c780
1,11,Environment and natural resources management,52b213b38594d8a2be17c780
2,1,Economic management,52b213b38594d8a2be17c781
3,6,Social protection and risk management,52b213b38594d8a2be17c781
4,5,Trade and integration,52b213b38594d8a2be17c782
5,2,Public sector governance,52b213b38594d8a2be17c782
6,11,Environment and natural resources management,52b213b38594d8a2be17c782
7,6,Social protection and risk management,52b213b38594d8a2be17c782
8,7,Social dev/gender/inclusion,52b213b38594d8a2be17c783
9,7,Social dev/gender/inclusion,52b213b38594d8a2be17c783
10,5,Trade and integration,52b213b38594d8a2be17c784
11,4,Financial and private sector development,52b213b38594d8a2be17c784
12,6,Social protection and risk management,52b213b38594d8a2be17c785
13,6,Social protection and risk management,52b213b38594d8a2be17c785
14,2,Public sector governance,52b213b38594d8a2be17c786
15,4,Financial and private sector development,52b213b38594d8a2be17c786
16,11,Environment and natural resources management,52b213b38594d8a2be17c787
17,8,Human development,52b213b38594d8a2be17c787
18,10,Rural development,52b213b38594d8a2be17c788
19,7,Social dev/gender/inclusion,52b213b38594d8a2be17c788

In [25]:
theme = test.groupby('name').count().sort_values(by='code',ascending=False).head(10)

In [26]:
#The top ten project themes
#Note that one project may have multiple themes--the theme gets "credit" each time it's listed for a project
#Such that the number of project themes exceeds the number of projects
#Except I know by inspection that sometimes the theme is listed multiple times for the same project.
#I will try to remove those duplicates and see if this changes much
theme

                                              code  _id.$oid
name
Environment and natural resources management   250       250
Rural development                              216       216
Human development                              210       210
Public sector governance                       199       199
Social protection and risk management          168       168
Financial and private sector development       146       146
Social dev/gender/inclusion                    130       130
Trade and integration                           77        77
Urban development                               50        50
Economic management                             38        38

In [27]:
#I want to rename these columns to make it easier for me
test.columns = ['code','theme','id']

In [28]:
test.groupby("id").count().code.mean()

2.998

In [29]:
test.drop_duplicates().groupby("id").count().code.mean()
# See here that that average goes down after dropping the duplicates

2.14

In [30]:
#There's an average of about 3 themes per project--I just want to remove the duplicates
theme = test.drop_duplicates().groupby('theme').count().sort_values(by='code',ascending=False).head(10)

In [31]:
theme
#This changes slightly for when duplicates were included, but not much

                                              code   id
theme
Environment and natural resources management   157  157
Rural development                              148  148
Public sector governance                       140  140
Human development                              128  128
Financial and private sector development       119  119
Social protection and risk management          116  116
Social dev/gender/inclusion                    114  114
Trade and integration                           61   61
Urban development                               40   40
Economic management                             33   33